.d-flex.row.no-gutters
    - var n = 0
    while n < 6
        .col-12.col-md-6.col-xl-4.p-3
            .card
                img.card-img-top(src='https://st.hzcdn.com/fimgs/bbf1322d0a661ce4_6679-w320-h265-b0-p0--midcentury-living-room.jpg', alt='#')
                div.card-body
                    h5.card-title.pb-3.border-bottom
                        i.fas.fa-book-open.mr-2
                        |Stories From Houzz
                    p.card-text The renovations of these popular ranch-style houses bring modern convenience while honoring 
                    div.d-flex
                        p.mr-auto.text-muted 13 hours ago
                        p.text-muted 1 Bookmark | 1 Comment
        - n++